*.py[cod]
__pycache__
.pytest_cache

# C extensions
*.so

# Packages
*.egg
*.egg-info
/dist
/build
/eggs
/parts
/bin
/var
/sdist
/develop-eggs
/.installed.cfg
/lib
/lib64
/venv
/.venv

# Installer logs
pip-log.txt

# Unit test / coverage reports
.cache/
.pytest_cache/
.coverage
.coverage.*
.tox
.ruff_cache
coverage.xml
htmlcov/
pii_report/
default.db



# The Silver Searcher
.agignore

# OS X artifacts
*.DS_Store

# Logging
log/
logs/
chromedriver.log
ghostdriver.log

# Complexity
output/*.html
output/*/index.html

# Sphinx
docs/_build
docs/modules.rst
docs/openedx_certificates.rst
docs/openedx_certificates.*.rst

# Private requirements
requirements/private.in
requirements/private.txt

# IDEs
.vscode/
.idea/

# Local certificates directory
external_certificates/
